/*MEDIA QUERY*/

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-portrait-only {
  @media (min-width: 600px) and (max-width: 899px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-tablet-landscape-only {
  @media (min-width: 900px) and (max-width: 1199px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-desktop-only {
  @media (min-width: 1200px) and (max-width: 1799px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}



body {
  padding-top: 50px;
  position: relative;
}

.navbar {
  font-size: 16px;
}

.super-pad {
  padding-top: 50px;
  padding-bottom: 50px;
}


/*FIRST SECTION*/

.b1 {
  background-image: url("http://www.jprades.net/wp-content/uploads/2016/05/14B.jpg");
}

#Jessica {
  font-family: Abril Fatface, serif;
  text-align: center;
  font-size: 100px;
  margin-top: 50px;
  font-weight: bold;
  color: #d5e1e0;
}

#surname {
  font-family: Abril Fatface, serif;
  text-align: center;
  font-size: 60px;
}

/*BUTTONS*/

.btn-github {
  color: #fff;
  background-color: #444;
  border-color: rgba(0,0,0,0.2);
}

.btn-linkedin {
  color: #fff;
  background-color: #007bb6;
  border-color: rgba(0,0,0,0.2);
}

.btn-twitter {
  color: #fff;
  background-color: #55acee;
  border-color: rgba(0,0,0,0.2);
}

/*SECOND SECTION*/

.b2 {
  background-color: #d5e1e0;
}

.tittle {
  font-family: Abril Fatface, serif;
  font-weight: bold;
  text-align: center;
  font-size: 40px;
}

.jesphoto {
  border-color: black;
  border-width: 3px;
  border-style: dashed;
  border-radius: 50%;
  max-width: 400px;
  max-height: 400px;
  width: 100%;
}

.who-text {
  padding: 100px 20px 20px 80px

}

/*THIRD SECTION*/



.img-pad {
  padding-bottom: 30px;
}

/*FOURTH SECTIOM*/

.b4 {
  background-color: #e4e4e4;
}

.imgPadding {
  margin-top: 10px;
}


/*FIFTH SECTION*/

.skill-box {
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-width: 3px;
  border-color: #e4e4e4;
  border-style: dashed;
  width: 40%;
}


/*SIXTH SECTION*/

.b6 {
  background-color: #d5e1e0;
}

/*SEVENTH SECTION*/

.b7 {
  background-image: url("http://www.jprades.net/wp-content/uploads/2016/05/142B.jpg");
}


#message {
  padding-top: 10px;
  padding-bottom: 80px;
}

.pad-form {
  padding-top: 10px;
  padding-left: 30px;
}

.marg-top {
  margin-top: 20px;
}

.cred {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding-right: 20px;
  padding-bottom: 20px;
}

.credits {
  color: white;
  position: fixed;
  bottom: 0;
  right: 0;
  padding-bottom: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.credits a {
  color: white;
}